<p>
You're in index of the Welcome controller.
</p>

<ul class="sources">
  <% @sources.each do |source| %>
    <li>
    <a href="<%= url(:source, source.id) %>"><%= source.display_name %></a>
    </li>
  <% end %>
</ul>
