*.swp
data
rrdpd.conf
/log
/web/.DS_Store
/web/log
/web/log/*
/web/tmp/*
/web/TAGS
/web/*~
/web/.#*
/web/schema/schema.rb
/web/schema/*_structure.sql
/web/schema/*.sqlite3
/web/schema/*.sqlite
/web/schema/*.db
/web/*.sqlite
/web/*.sqlite3
/web/*.db
/web/src/*
/web/.hgignore
/web/.hg/*
/web/.svn/*
