/* ----------------------------------------------------------------------------
 * General
 */
ul {
  list-style-type: none;
}

h1 {
  padding: 5px;
}

/* ----------------------------------------------------------------------------
 * Clearfix
 */
.clearfix { display: inline-block; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}

* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* ----------------------------------------------------------------------------
 * Menu
 */

#menu {
  float: right;
}

#menu li {
  padding: 5px;
  margin: 5px;
  border: 1px solid #afafaf;
  background: #efefef;
  width: 200px;
}

#menu li p.name {
  padding-left: 0px;
  font-weight: bold;
  font-size: 16pt;
}

/* ----------------------------------------------------------------------------
 * Canvas
 */
#canvas {
  padding: 5px;
}

#canvas h2 {
  text-transform: uppercase;
}

#canvas img {
  margin-bottom: 5px;
}

a.renders {
}

a.renders.visible {
  font-weight: bold;
}

/* ----------------------------------------------------------------------------
 * Header
 */
#header {
  border-bottom: 2px solid #afafaf;
  background: #efefef;
}

/* ----------------------------------------------------------------------------
 * Header Navigation
 */

#header ul.navigation {
  padding: 5px;
}

#header ul.navigation li {
  font-weight: bold;
  font-size: 12pt;
}

/* ----------------------------------------------------------------------------
 * Footer
 */
#footer {
  padding: 5px;
  font-size: 9pt;
  color: #afafaf;
}
