ul.sources {
}

ul.sources li {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  background: #efefef;
  width: 200px;
}

ul.sources li {
  font-weight: bold;
  font-size: 16pt;
}

ul.events {
}

ul.events li {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  background: #efefef;
  width: 200px;
}

ul.events li {
  font-weight: bold;
  font-size: 16pt;
}

ul.top_navigation {
  margin: 5px;
  border-bottom: 1px solid black;
}

ul.top_navigation li {
  font-weight: bold;
  font-size: 12pt;
}
