/* ----------------------------------------------------------------------------
 * General
 */
ul {
  list-style-type: none;
}

/* ----------------------------------------------------------------------------
 * Clearfix
 */
.clearfix { display: inline-block; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}

* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* ----------------------------------------------------------------------------
 * Sources
 */

ul.sources {
}

ul.sources li {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  background: #efefef;
  width: 200px;
}

ul.sources li {
  font-weight: bold;
  font-size: 16pt;
}

/* ----------------------------------------------------------------------------
 * Events
 */

ul.events {
  float: right;
}

ul.events li {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  background: #efefef;
  width: 200px;
}

ul.events li p.name {
  padding-left: 0px;
  font-weight: bold;
  font-size: 16pt;
}

/* ----------------------------------------------------------------------------
 * Top Navigation
 */

ul.top_navigation {
  padding: 5px;
  border-bottom: 1px solid black;
}

ul.top_navigation li {
  font-weight: bold;
  font-size: 12pt;
}

/* ----------------------------------------------------------------------------
 * Canvas
 */
#canvas {
  padding: 5px;
}

#canvas img {
  margin-bottom: 5px;
}

a.renders {
  font-size: 10pt;
}

a.renders.visible {
  font-weight: bold;
}

/* ----------------------------------------------------------------------------
 * Header/Footer
 */
#header {
}

#footer {
  border-top: 1px solid #afafaf;
  font-size: 9pt;
  color: #afafaf;
}
