<div class="graphs">
  <%
  var defaultGraph = model.defaultGraph()
  %>
  <ul class="menu">
    <% jQuery.each(model.menu, function(i, option) { %>
      <li>
      <%= i %>:
      <ul class="submenu">
        <% jQuery.each(model.menu[i], function(i, option) { %>
          <li><a class="renders" href="#" data-key="<%= option.uri %>"><%= i %></a></li>
        <% }); %>
      </ul>
      </li>
    <% }); %>
  </ul>
  <div class="graph">
    <img src="<%= defaultGraph.uri %>" />
  </div>
</div>
