<div class="graphs">
  <% var defaultGraph = model.defaultGraph() %>
  <!--
  <h2><%= model.title %></h2>
  <ul class="options">
    <li>A</li>
    <li>B</li>
  </ul>
  -->
  <div class="graph">
    <img src="<%= defaultGraph.uri %>" />
  </div>
</div>
