<p>
  <a class="clear_all_graphs" href="#">Clear</a>
</p>
<% jQuery.each(model, function(i, category) { %>
  <h2><%= category.name %></h2>
  <% jQuery.each(category.items, function(j, item) { %>
  <li class="renders" data-key="<%= item.uri %>">
    <p class="name"><%= item.name %></p>
    <% if (item.description.length > 0) { %>
      <p class="description"><%= item.description %></p>
    <% } %>
  </li>
  <%
  });
});
%>
