<% jQuery.each(model, function(i, category) { %>
  <% jQuery.each(category.items, function(i, item) { %>
    <div>
      <h2><%= item.name %></h2>
      <a class="renders" data-key="<%= item.uri %>">
        <img src="<%= item.preview.image %>" />
      </a>
    </div>
<%
  });
});
%>
