<p>Welcome, use the side menu to choose the graphs and statistics you'd like to display.</p>

<ul id="menu"></ul>

<div id="preview"></div>

<div id="canvas"></div>

<script type="text/javascript">
$(function() {
  var controller = new WelcomeController();
});
</script>
