<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Statistics and Monitoring</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/rrdpd.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="/javascripts/jquery-1.2.6.pack.js"></script> 
    <script type="text/javascript" src="/javascripts/jquery.bubble-sync.js"></script> 
    <script type="text/javascript" src="/javascripts/class.js"></script> 
    <script type="text/javascript" src="/javascripts/ejs.js"></script> 
    <script type="text/javascript" src="/javascripts/application.js"></script> 
  </head>
  <body>
    <div id="header">
      <h1>Statistics and Monitoring</h1>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
   
    <div id="view" class="clearfix">
      <%#= message[:notice] %>
      <%= catch_content :for_layout %>
    </div>

    <div id="footer">
    Copyright (C) 2008 Jacob Lewallen
    </div>
  </body>
</html>
